.App {
  text-align: center;
}

body {
  background-color: #16151a;
}

h2,
h3,
label {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  color: white;
}

p {
  font-size: 11px;
}

label {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

button {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin: 20px;
  border: 1px solid #ff4a4c;
  box-shadow: 0 0 30px #ff4a4c;
  background-color: #626166;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: white;
}

button:focus {
  outline: none;
}

.controller {
  display: flex;
  flex-direction: column;
  background-color: #2f2e33;
}

.first-row,
.second-row,
.sound-selector {
  flex-direction: row;
  display: flex;
  margin: 0 auto;
}

.sound-selector {
  justify-content: space-evenly;
}

/* .first-row {
  border: 5px solid red;
} */
